

.aboutus {

    &__paragraph {

        margin-top: 3rem;
    }

    &__link {

        display: inline-flex;
        margin-top: 5rem;
        font-weight: bold;
        padding: 2rem 5rem;
        border: 1px solid var(--dark);


        &:hover {

            color: var(--primary);
            border: 1px solid var(--primary);
        }
    }
    &__text {

        padding-right: 3rem;
    }
}



.features {

    background: url(/assets/img/datahouse-features.png);
}
