.aboutus {
  &__paragraph {
    margin-top: 3rem;
  }

  &__link {
    display: inline-flex;
    margin-top: 5rem;
    font-weight: bold;
    padding: 2rem 5rem;
    border: 1px solid var(--secondary);

    &:hover {
      color: var(--primary);
      border: 1px solid var(--primary);
    }
  }
  &__text {
    padding-right: 3rem;
  }
  @include respond("phone") {
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;

    img {
      width: 100%;
      height: auto;

      @include respond("phone") {
        width: 75%;
      }
    }

    &__text {
      padding-right: 0;
    }

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.features {
  border-top: 1px solid var(--grey-dark);
  border-left: 1px solid var(--grey-dark);
  border-bottom: 1px solid var(--grey-dark);
  background: var(--primary-dark);

  @include respond("phone") {
    border-right: 1px solid var(--grey-dark);
  }

  &__title {
    color: var(--white);
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 4rem;
  }
  &__text {
    font-size: 2.4rem;
    color: var(--white);
    width: 45%;
    margin: auto;
    margin-top: 2rem;
    line-height: 3.5rem;

    @include respond("phone") {
      width: auto;
    }
  }
  &__group {
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, auto));
    grid-gap: 10rem;
    margin-top: 10rem;
    align-items: center;
    justify-content: center;

    @include respond("phone") {
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      margin-top: 5rem;
    }
  }

  &__label {
    background: var(--dark);
    color: var(--white);
    padding: 0.5rem 1.5rem;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &--icon {
      width: 4.2rem;
      height: 4.2rem;
      fill: var(--white);
      margin-bottom: 1rem;
    }

    &--title {
      font-size: 1.8rem;
      font-weight: 600;
      color: var(--white);
      margin-bottom: 1.5rem;
    }

    &--text {
      grid-column: 1 / -1;
      color: var(--white);
      text-align: left;
    }
  }
}
