.sidebar {

    border-left: 1px solid var(--grey);
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1/-1;

}
.slider {

    grid-column: full-start / full-end;
    display: grid;
}

.aboutus {

    grid-column: center-start / center-end;
    display: flex;
    align-items: center;
    gap: 10rem;
}

.services {

    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: repeat(auto-fit,(minmax(20rem, 1fr)));
    align-items: center;
    text-align: center;
    border-left: 1px solid var(--grey);
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);

    &__item {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:last-child) {

            border-right: 1px solid var(--grey);
        }

        &--link {

            display: flex;
            align-items: center;

            &:hover{

                
                transform: scale(1.2);
                transition: ease-in-out .4s;
            }
        }
    }
    
    &__icon {
        display: inline-flex;
        width: 4rem;
        height: 4rem;
        margin-right: 1.5rem;
    }

}

.features {

    grid-column: full-start / full-end;
    padding-left: 10rem;
    padding-right: 5rem;
    padding-top: 5vw;
    padding-bottom: 8vw;
    align-self: center;

    &__title {

        color: var(--white);
    }
    &__text {
        color: var(--white);
        margin-top: 2rem;
        margin-bottom: 9rem;
        width: 75%;

    }

    &__group {

        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        grid-template-rows: auto;
        margin-top: 5rem;

    }

    
    &__item {

        display: flex;
        flex-direction: column;
        gap: 3rem;

    }

    &__icon {

        width: 6rem;
        height: 6rem;
        fill: var(--primary-dark);
    }

}

.compaines {

    grid-column: full-start / full-end;
    padding-top: 2vw;
    padding-bottom: 2vw;

}


.contact {

    grid-column: full-start / col-end 3;
    background-color: brown;

    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 5rem;

    a {
        color: var(--white);
        font-style: italic;
    }

    &__title {

        color: var(--white);
    }

    &__link {

        display: flex;
        align-items: center;
    }

    &__icon {

        width: 3rem;
        height: 3rem;
        fill: var(--white);
        margin-right: 1rem;
    }
}

.map {

    grid-column: col-start 4 / full-end;
    background-color: aqua;

    #map {

        width: 100%;
        height: 100%;
    }
}


