.nav {
    display: flex;
    align-items: center;

    .navbar {

        margin: auto;
        display: flex;
        gap: 8rem;

       @include respond("phone") {

        display: none;
       } 
    }
}






