.slider {
  &__img {
    width: 40rem;

    @include respond("big-desktop") {
      width: 70rem;
    }

    @include respond("phone") {
      width: 65%;
    }
  }

  &__link {
    color: var(--white);
    &:hover {
      color: var(--dark);
      text-decoration: underline;
    }
  }
}
